body{background-color:#ac00e6;border:2px dashed #00ff00;}
h1{font-family:Sofia;text-align:center;font-size:50;}
a:link{color:black;text-decoration:none;font-family:Courgette;}
a:active{color:black;text-decoration:none;font-family:Courgette;}
a:visited{color:black;text-decoration:none;font-family:Courgette;}